.similar {
  display: grid;
  gap: 20px;
  width: 100%;
}

.similar_heading {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color);
}

.similar_content {
  height: 280px;
  cursor: pointer;
  border-radius: 2px;
}

.similar_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 2px;
}
