.seriescard {
  height: 450px;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
}

.series_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

/* responsive CSS */
@media screen and (max-width: 1024px) {
  .seriescard {
    height: 420px;
  }
}

@media screen and (max-width: 768px) {
  .seriescard {
    height: 350px;
  }
}

@media screen and (max-width: 420px) {
  .seriescard {
    height: 280px;
  }
}
