.genrecard {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.genrecard_button {
  outline: none;
  border: none;
  background-color: var(--main-bg);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--third-color);
  padding: 6px 8px;
  border-radius: 2px;
  color: var(--fourth-color);
}

.genrecard_active {
  background-color: var(--fourth-color);
  color: var(--third-color);
}
