.container {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.loading {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.scrolltotop {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  background-color: var(--third-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: var(--primary-color);
  width: fit-content;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.scrolltotop.show {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .loading {
    height: 420px;
  }
}

@media screen and (max-width: 768px) {
  .loading {
    height: 350px;
  }
}

@media screen and (max-width: 420px) {
  .loading {
    height: 280px;
  }
  .scrolltotop {
    bottom: 2rem;
    right: 1.5rem;
  }
}
