* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background: var(--main-bg);
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--third-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--fourth-color);
  border-radius: 10px;
}
