.banner {
  height: 650px;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.banner_content {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  filter: brightness(80%);
}

.banner_moviecontent {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding-left: 40px;
  padding-top: 100px;
  color: var(--main-bg);
}

.banner_movietitle {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.banner_moviedesc {
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  width: 50%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to display */
  -webkit-box-orient: vertical;
  max-height: 3.6em; /* height of two lines, adjust as needed */
}

.banner_button_container {
  display: flex;
  gap: 20px;
}

.banner_moviebutton {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.banner_button_icon {
  font-size: 24px;
}

.banner_moviebutton1 {
  border: 1px solid var(--main-bg);
  color: var(--main-bg);
  padding: 10px 20px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* responsive CSS */

@media screen and (max-width: 768px) {
  .banner_moviedesc {
    font-size: 14px;
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .banner {
    height: 380px;
  }
  .banner_moviecontent {
    padding-left: 10px;
    padding-top: 50px;
  }
  .banner_movietitle {
    font-size: 26px;
  }
  .banner_moviedesc {
    font-size: 14px;
    width: 90%;
  }
  .banner_moviebutton,
  .banner_moviebutton1 {
    font-size: 15px;
  }
  .banner_button_icon {
    font-size: 18px;
  }
}
