.trending {
  display: grid;
  gap: 25px;
}

.trending_topsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending_heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.trending_seeall {
  padding: 8px 12px;
  cursor: pointer;
  color: var(--fourth-color);
  background-color: var(--third-color);
  font-weight: 600;
  font-size: 15px;
  border-radius: 2px;
}
